.cbox{
    border: 1px solid white;
}
.main-bg{
    background-image: url('/public/images/login-bg.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-container{
  
    background-color: white;
    margin: 80px 50px;
    padding: 18px 0;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
   margin: 30px 0;
   font-family: 'Lato', sans-serif;
   font-weight: 700;
}

.input-fields{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-fields input{
    width: 90%;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid rgb(204, 203, 203);
    height: 40px;
    padding-left: 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.remember-toggle{
    display: flex;
    margin-left: 23px;
    margin-bottom: 30px;
}
.remember-toggle h5{
    margin-left: 20px;
    font-family: 'Lato', sans-serif;
    color: teal;
    font-size: 17px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    height: 25px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 9px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
    height: 25px;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .signIn-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 23px;
      margin-bottom: 30px;
  }

  .signIn-container h6{
      color: teal;
      font-family: 'Lato', sans-serif;
  }

  .signIn-container button {
      border: none;
      padding: 5px 50px;
      background-color: #0372da;
      color: white;
    cursor: pointer;
    font-family: 'Lato', sans-serif;

  }

  .signIn-container button:hover{
    background-color: #2196F3;
  }

  .powered-by-container{
      text-align: center;
      color: rgba(133, 133, 133, 0.671);
      font-family: 'Lato', sans-serif;
      margin-bottom: 30px;
  }

  .copy-right{
      text-align: center;
      color: rgba(107, 107, 107, 0.801);
      margin-bottom: 30px;
      font-family: 'Lato', sans-serif;
  }

  .check-term-privacy-policy{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: rgba(107, 107, 107, 0.801);
      margin-bottom: 30px;
      font-family: 'Lato', sans-serif;
  }