*,
*:after,
*::before {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:active,
:hover,
:focus {
	outline: 0 !important;
	outline-offset: 0;
}
a {
	text-decoration: none;
	color: unset;
}
a:hover{
	color: unset;
}
a:focus,
a:active {
	color: unset;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul,
ol,
.row>* {
	margin: 0 ;
	padding: 0 ;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
	padding: 0;
}

/* variable define */
:root {
	--primary-font: font-family: 'Lato', sans-serif;
}
html {
	scroll-behavior: smooth;
	overflow-x: hidden !important;
}

body{
	-webkit-font-smoothing:antialiased;
    overflow-x: hidden !important;
}

